*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /*font-family:'Poppins', sans-serif; */
}

body{
    background-image: url(Image\ result\ for\ stars\ twinkling\ gif\ cartoon.gif);
    background-size:cover;
}

.playbtn {
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    position: absolute;
    top:50%;
    left: 44%;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;

}

.container{
    width: 100%;
    height: 100vh;
}

.container h1{
    font-size: 68px;
    font-weight: 500;
    margin: 30px 0 10px;
    position: absolute;
    top:15%;
    left:44%;
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn{
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    position: absolute;
    top:78%;
    left: 42%;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
}

.open-popup{
    visibility: visible;
    top: 50%
}

.popup h2{
    font-size: 28px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width:100%;
    margin-top: 50px;
    padding:10px 0;
    background: #0d57e9;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

