* {
    padding: 0;
    margin: 0;
    /*font-family:'Poppins', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

#game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

#character {
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}

.animate {
    animation: jump 500ms;
}

@keyframes jump {
    0% {top: 150px;}
    /*30% {top: 100px;}
    70% {top: 100px;}*/
    100% {top: 150px;}
}

#block {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1.9s infinite;
}

@keyframes block {
    0% {left: 480px;}
    100% {left:-40px}
}

canvas {
    background: url(dirt.jpg) 0 0;
    background-color: #3214e1;
    background-size: 980px 100px;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    width: 800px;
    margin: auto;
} 

#canvas-container {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagearea a {
    width: 480px;
    height: 20px;

}
#area1 {
    top: 20px;
    left: 20px;
}

#area2 {
    top: 90px;
    left: 40px;
}

.button{
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    position: absolute;
    top:85%;
    left: 60%;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

#button-container {
    top: 50%;
    text-align: center;
    align-items: center;
} 
.but{
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    position: absolute;
    top:85%;
    left: 25%;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block; 
    align-items: center;
}        

#startText {
    text-align: center;
}

#score {
    text-align: center; 
}

#sc {
    text-align: center;
}

#endgameText {
    text-align: center;
}

#winText {
    text-align: center;
}